/* Add a border around each ingredient list */
/* Add a border around each ingredient list with light green color */
.recipe-list {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px; 
  }