/* Menu Page Classes*/

.meals-container {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.meals-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}
  
.meal-item {
    border: 1px solid #ccc; /* Add border around each food item */
    padding: 15px;
    margin-bottom: 10px; /* Add margin between food items */
    margin-right: 10px; /* Add margin to the right of each food item */
    transition: background-color 0.3s; /* Add transition effect */
    border-radius: 10px; /* Add border radius to curve the boxes */
    background-color: white; /* Change background color to white */
}

/* Change background color when hovered over or selected */
.meal-item:hover,
.meal-item.selected {
    background-color:  #abd1b5; 
}

.meal-column:last-child .meal-item {
    margin-right: 0; 
}
  
  
/* Meal Column Title Styling */
.meal-column-title {
    /* Your styles for the "Breakfast" title here */
    color: black;
    font-size: 24px; 
    text-align: center;
}

/* Meal Column Contents Styling */
.meal-column {
    flex: 1;
    text-align: center;
    color: black;
    font-weight: bold;
}
