.planner-container {
  max-width: 90%; /* Change max-width to a percentage for responsiveness */
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center align the content */
}

.planner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dynamic grid based on minimum and maximum width */
  gap: 20px; /* Increased gap between days */
  margin-top: 50px; /* Add margin to space out the planner vertically */
}

.day {
  border: 1px solid #ccc;
  padding: 15px;
  color: #3c6729;
}

.meals {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meal {
  background-color: #cae1ce;
  padding: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center align the content horizontally */
  align-items: center; /* Center align the content vertically */
  min-height: 100px; /* Set a minimum height for consistent sizing */
  border-radius: 10px; /* Add some border-radius for rounded corners */
}

.meal:hover {
  background-color: #e0e0e0;
}

.back {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #b8d8be;
  font-weight: bold;
}

.back:hover {
  color: #b8d8be;
}

.meal-label {
  font-size: 16px;
  font-weight: bold;
  color: #3c6729;
}
