.planner-container {
  max-width: 800px; /* Increase max-width for a larger planner */
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center align the content */
  margin-left: 60px; /* Center align the content */
}

.planner {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px; /* Increased gap between days */
  margin-top: 50px; /* Add margin to space out the planner vertically */
}
.day {
  border: 1px solid #ccc;
  padding: 15px;
  color: #3c6729;
}

.meals {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meal {
  background-color: #cae1ce;
  padding: 30px;
  cursor: pointer;
}

.meal:hover {
  background-color: #e0e0e0;
}

.back {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #b8d8be;
  font-weight: bold;
}

.back:hover {
  color: #b8d8be;
}

.meal-label {
  font-size: 16px;
  font-weight: bold;
  color: #3c6729;
}

.plantitle {
  font-size: 40px;; 
  font-weight: bold;
  font-family: 'Lato', sans-serif; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 450px;
  color: #3c6729;; 
}