
  .recipe-image {
    width: 100px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-left: 500px; /* Add space between the title and the image */
  }

  .recipe-box {
    border: 1px solid #38422b;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px 20px 20px /* Added margin */
  }
  
  .recipe-box h3 {
    margin-top: 0;
  }
  
  .recipe-title  { 
    text-align: center;
  }







